@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Inter:wght@700&family=Manrope:wght@700&family=Outfit:wght@400;700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'overpass', sans-serif;
}

.attribution {
    font-size: 11px;
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 37rem;
    color:hsl(0, 0%, 100%) ;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 28%;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 100%);
}

.img {
    margin-top: 1rem;
    margin-left: 2rem;
}


h1 {
    margin: 1rem 2rem 1rem 2rem;

}

p {
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
    color: hsl(212, 20%, 69%);
    text-align: justify;
}

.rating{ 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: hsl(213, 17%, 33%) ;
    border-radius: 5rem;

}

.rating span:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}

button{
    margin-bottom: 2rem;
    padding: 1rem 8rem;
    border-radius: 5rem;
    background-color:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
button:hover{
    cursor: pointer;
    background-color:hsl(0, 0%, 100%) ;
    color:hsl(25, 97%, 53%);
}

@media only screen and (max-width: 375px){
    .container{
        width: 70%;
    }
}