:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(212, 17%, 15%);
    --Dark-B:hsl(211, 20%, 21%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Blue: hsl(228, 45%, 44%);
}