@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800;900&family=Inter:wght@700&family=Manrope:wght@700&family=Outfit:wght@400;700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');
@import url("colors.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: var(--Very-Dark-Blue);
    font-family: 'Overpass', sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--Dark-Blue);
    width: 28%;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 5rem;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--Dark-B);
    border-radius: 4rem;
    margin-bottom: 1.5rem;
}

h1 {
    color: var(--White);
}

small {
    color: var(--Light-Grey);
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.rating {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 1rem 1.4rem;
    background-color: var(--Dark-B);
    border-radius: 3rem;
    color: var(--Light-Grey);

}

.rating .number:hover {
    cursor: pointer;
    background-color: var(--Orange);
    color: var(--White);
}

.select {
    background-color: var(--Medium-Grey);
    color: var(--White);
}

.submitButton {

    width: 23rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: bold;
    font-size: 1rem;
}

.submitButton:hover {
    cursor: pointer;
    background-color: var(--White);
    color: var(--Orange);
}

.attribution {
    font-size: 11px;
    margin-top: 1rem;
    color: var(--White);
}

.attribution a {
    color: var(--Blue);
}


 /* .rating-state{
    background-color: var(--Dark-Blue);
    width: 28%;
    margin-top: 5rem;
    border-radius: 15px;
    visibility: hidden; 
} 

.center-state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 3rem;
} 


.center-state h1{
    color: var(--White);
    margin-bottom: -2rem;
    margin-top: 1rem;
    
}

.figure{
    width: 13rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--Dark-B) ;
    border-radius: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color:var(--Orange);
}
span {
    color: var(--Light-Grey);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 2rem;
} */


@media only screen and (max-width: 768px) {
    
    .card {
        padding: 0.5rem;
        width: 90%;
    }
    .rating {
        gap: 0.8rem;
        
    }

    .submitButton{
        width: 19.5rem;
    }
    .rating-state{
        width: 90%;

    }

}